/* Navbar container */
.navbar {
  height: 12vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0;
  box-sizing: border-box;
}

/* Left side logo */
.nav_left_side img {
  height: 12vh;
  max-height: 70px;
  margin: 0;
}

/* Navigation menu */
.nav_menus ul {
  display: flex;
  gap: 0;
  font-family: "CatalinaRayden", sans-serif;
  font-size: larger;
  font-weight: 300;
  color: #6c6a3d;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav_menus ul li {
  margin: 0 5px;
  position: relative;
  transition: color 0.3s ease;
}

.nav_menus ul li:hover {
  color: #9e9c5d;
}

.nav_menus ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #6c6a3d;
  bottom: -5px;
  left: 0;
  transform: scaleX(1);
}

/* Menu links */
.nav_menus ul li a {
  text-decoration: none;
  color: #6c6a3d;
  transition: color 0.3s ease;
}

.nav_menus ul li a:hover {
  color: #9e9c5d;
}

.nav_menus ul li a:visited,
.nav_menus ul li a:active,
.nav_menus ul li a:focus {
  color: #6c6a3d;
}

/* Right side icons */
.nav_rightside {
  display: flex;
  gap: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav_rightside li {
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.nav_rightside li:hover {
  transform: translateY(-3px);
}

/* Mobile menu toggle button */
.mobile_menu_toggle {
  display: none;
  z-index: 1000;
  margin: 0;
}

.nav_contact {
  background-color: #cd8636;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
  margin: 0;
}

/* Responsive styles */
@media screen and (max-width: 992px) {
  .navbar {
    padding: 0;
  }

  .nav_menus ul {
    gap: 0;
    font-size: medium;
  }

  .nav_menus ul li {
    margin: 0 3px;
  }

  .nav_rightside {
    gap: 0;
  }

  .nav_rightside li {
    margin: 0 3px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 0 10px;
  }

  .mobile_menu_toggle {
    display: block;
    cursor: pointer;
    margin: 0;
  }

  .nav_menus {
    position: fixed;
    top: 12vh;
    left: 0;
    width: 100%;
    background-color: white;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    margin: 0;
    padding: 0;
  }

  .nav_menus.active {
    /* height: auto; */
  }

  .nav_menus ul {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 0;
    margin: 0;
  }

  .nav_menus ul li {
    margin: 5px 0;
  }

  .nav_rightside {
    position: fixed;
    top: calc(12vh + 250px);
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 99;
    margin: 0;
  }

  .nav_rightside.active {
    transform: translateY(-410%);
    opacity: 1;
  }

  .nav_rightside li {
    margin: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    height: 10vh;
    padding: 0 10px;
    
  }

  .nav_left_side img {
    height: 10vh;
    max-height: 50px;
    margin: 0;
  }

  .nav_menus {
    top: 10vh;
  }

  .nav_menus ul {
    padding: 10px 0;
    gap: 0;
    font-size: 16px;
    margin: 0;
  }

  .nav_menus ul li {
    margin: 3px 0;
  }

  .nav_rightside {
    top: calc(10vh + 220px);
    gap: 0;
  }

  .nav_rightside li {
    margin: 0 5px;
  }

  .nav_rightside li svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 320px) {
  .nav_left_side img {
    max-height: 40px;
    margin: 0;
  }

  .mobile_menu_toggle svg {
    width: 25px;
    height: 25px;
  }

  .nav_menus ul {
    gap: 0;
    font-size: 14px;
  }

  .nav_menus ul li {
    margin: 2px 0;
  }

  .nav_rightside {
    gap: 0;
  }

  .nav_rightside li {
    margin: 0 3px;
  }

  .nav_rightside li svg {
    width: 20px;
    height: 20px;
  }
}